
/* Reset */
#cbp-spmenu-s3, #cbp-spmenu-s3 *,
#cbp-spmenu-s3:after, #cbp-spmenu-s3 *:after,
#cbp-spmenu-s3:before, #cbp-spmenu-s3 *:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/* General styles for all menus */
.cbp-spmenu {
	background: #fff;
	position: fixed;
	z-index: 999999;
}

.cbp-spmenu h3 {
	color: #555CC1;
	font-size: 16px;
	padding:40px 20px;
	margin: 0;
	font-weight: 300;
	background: #0F1130;
}
h3 a{
	display: inline !important;
	color: #666 !important;
	float: none !important;
	text-decoration: underline !important;
	width: auto !important;
	margin: 0 !important;
	padding: 0 !important;
}
.cbp-spmenu a {
	display: block;
	color: #fff;
	font-size: 1.1em;
	font-weight: 300;
	/*background:#47a3da;*/
}

.cbp-spmenu a:hover {
	color: #258ecd;
}

.cbp-spmenu a:active {
	background: #afdefa;
	color: #47a3da;
}

/* Orientation-dependent styles for the content of the menu */

.cbp-spmenu-vertical {
	width: 240px;
	height: 100%;
	top: 0;
	z-index: 1000;
}

.cbp-spmenu-vertical a {
	border-bottom: 1px solid #258ecd;
	padding: 1em;
}

.cbp-spmenu-horizontal {
	width: 100%;
	height: 220px;
	left: 0;
	z-index: 1000;
	overflow: hidden;
}

.cbp-spmenu-horizontal h3 {
	height: 100%;
	width: 20%;
	float: left;
}
.cbp-spmenu-horizontal .block {
	height: 100%;
	width: 20%;
	float: left;
	margin:40px 0 0;
	padding:0 0%;
}
.cbp-spmenu-horizontal .block h4{
	color: #474747;
	margin-bottom: 20px;
	font-size: 30px;
	text-transform: none;
}
.cbp-spmenu-horizontal .block h6{
	text-transform: none;
	font-size: 20px;
}
.cbp-spmenu-horizontal .block h4,.cbp-spmenu-horizontal .block h6,.cbp-spmenu-horizontal .block p{
	padding-left: 15px;
	padding-right: 15px;
}
.cbp-spmenu-horizontal .block img, .cbp-spmenu-horizontal .enterprise-block img{
	
}
.cbp-spmenu-horizontal .block:last-child{
	border: none;
}
.cbp-spmenu-horizontal .enterprise-block{
	height: 100%;
	width: 45%;
	float: left;
	margin:40px 0 0 2.5%;
	border-right: 1px solid #2C3072;
	padding-right: 2.5%;
}
.cbp-spmenu-horizontal .enterprise-block .block{
	height: 100%;
	width: 50%;
	float: left;
	margin:0;
	border:none;
	padding: 0;
}

.cbp-spmenu-horizontal a {
	font-size: 15px;
	float: left;
	width: 100%;
	padding: 10px !important;
	font-family: 'Droid Serif', serif;
	color: #666 !important;
	line-height: 23px;
	/*border-left: 1px solid #258ecd;*/
}

.cbp-spmenu-horizontal a:hover{
	background: #ddd;
}


/* Horizontal menu that slides from the top or bottom */
.navigation21{
	width: 100%;
	height: 100%;
	display: block;
	z-index: 99999999;
}
.cbp-spmenu-top {
	top: 54px;
	height:0;
}

.cbp-spmenu-bottom {
	bottom: -186px;
}

.cbp-spmenu-top.cbp-spmenu-open {
	height:450px;
}
.navigation li:hover{
	background: #fff;
}
.navigation li:hover a{
	color: #2d2d2d;
}
.navigation li:hover .cbp-spmenu{
	height: 450px;
	border-bottom: 2px solid #ddd;
	box-shadow: 0 1px 0px 0 rgba(0, 0, 0, 0.2);
}

.cbp-spmenu-bottom.cbp-spmenu-open {
	bottom: 0px;
}

/* Push classes applied to the body */

.cbp-spmenu-push {
	overflow-x: hidden;
	position: relative;
	left: 0;
}

.cbp-spmenu-push-toright {
	left: 240px;
}

.cbp-spmenu-push-toleft {
	left: -240px;
}

/* Transitions */

.cbp-spmenu,
.cbp-spmenu-push {
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

/* Example media queries */

@media screen and (max-width: 55.1875em){

	.cbp-spmenu-horizontal {
		font-size: 75%;
		height: 110px;
	}

	.cbp-spmenu-top {
		top: -110px;
	}

	.cbp-spmenu-bottom {
		bottom: -110px;
	}

}

@media screen and (max-height: 26.375em){

	.cbp-spmenu-vertical {
		font-size: 90%;
		width: 190px;
	}

	.cbp-spmenu-left,
	.cbp-spmenu-push-toleft {
		left: -190px;
	}

	.cbp-spmenu-right {
		right: -190px;
	}

	.cbp-spmenu-push-toright {
		left: 190px;
	}
}


/* Close Button */
.close-button {
	width: 16px;
	height: 16px;
	position: absolute;
	right: 1em;
	top: 1em;
	overflow: hidden;
	text-indent: 16px;
	border: none;
	z-index: 1001;
	background: transparent;
	color: transparent;
	cursor:pointer;
}

.close-button::before,
.close-button::after {
	content: '';
	position: absolute;
	width: 2px;
	height: 100%;
	top: 0;
	left: 50%;
	background: #fff;
}

.close-button::before {
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}

.close-button::after {
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
#cbp-spmenu-s3 .block h4{
	font-family: 'Montserrat', sans-serif;	
}