/* Scss Document */


html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}


/*import files*/
@import "bootstrap";


/* default styles */
body
{
	background:#fff;
}
@font-face {
    font-family: zineSlabDis;
    src: url(../fonts/zineSlabDis.ttf);
}
h1
{
	font-family: zineSlabDis;
}
.positionRelative
{
	position:relative;
}
.positionAbsolute
{
	position:absolute;
}


/*homepage styles*/
.bannerText
{
	left:0;
	right:0;
	margin:0 auto;
	top:0;
	position:absolute;
	color:#fff;
	h1
	{
		font-size:60px;
		margin-top:150px;
	}
	p
	{
		font-size:18px;
		color:#fff;
		line-height:30px;
	}
}

/*activve menu code*/
.nav > li > a#fb:hover, .nav > li > a#tw:hover
{
	background:none !important;
}
.activeMenu, .nav > li > a:hover
{
	background:url(../img/active-menu.png) top center no-repeat;
}

/*vetical slider styles*/

.lof-slidecontent{
	position:relative;
	overflow:hidden;
	border:#ccc solid 1px;
	width:960px;
	height:263px;
	margin-top:50px;
	margin-bottom:50px;
}
.lof-slidecontent .preload{
	height:100%;
	width:100%;
	background:#FFF;
	position:absolute;
	top:0;
	left:0;
	z-index:100000;
	color:#FFF;
	text-align:center
}
.lof-slidecontent .preload div{
	height:100%;
	width:100%;
	background:transparent url(../../../images/load-indicator.gif) no-repeat scroll 50% 50%;
}
/* main flash */
.lof-main-wapper{
	margin-right:auto;
	overflow:hidden;
	background:transparent url(../../../images/load-indicator.gif) no-repeat scroll 50% 50%;
	padding:0px;
	height:100%;
	width:680px;
	position:relative;
	overflow:hidden;
}

.lof-main-wapper .lof-main-item{
	overflow:hidden;
	padding:0px;
	margin:0px;
	height:100%;
	width:100%;
	position:absolute;
}
.lof-main-wapper .lof-main-item img{
	padding:0px;	
	width:680px;
}


/* item navigator */
ul.lof-navigator{
	top:0;
	padding:0;
	margin:0;
	position:absolute;
	width:100%;
}
ul.lof-navigator li{
	cursor:hand; 
	cursor:pointer;
	list-style:none;
	width:100%;
	padding:0;
	margin:0;
	overflow:hidden;
}
.lof-navigator-outer{
	position:absolute;
	right:0;
	top:00px;
	z-index:100;
	height:263px;
	width:296px;
	overflow:hidden;
	color:#FFF
}
.lof-navigator li.active{
	background:url(../img/slider/arrow-bg.png) no-repeat scroll left center; 
	color:#FFF
}
.lof-navigator li h3{
	color:#000;
	font-size:16px;
	font-weight:600;
	padding:20px 0 0 !important;
	margin:0;

}
.lof-navigator li div{
	background:#fff;
	color:#FFF;
	height:100%;
	position:relative;
	margin-left:8px;
	padding-left:35px;
	border-top:1px solid #ccc;
}
.lof-navigator li:first-child div{ border-top:none;}
.lof-navigator li.active div{
	background:#004487;
	color:#FFF;
}
.lof-navigator li.active h3{
	color:#FFF;
}
.lof-navigator li h3 span:first-child
{
	background-image:url(../img/solutions-sprite.png);
	background-repeat:no-repeat;
	height:28px;
	width:28px;
	display:block;
	float:left;
}
.lof-navigator li h3 span:last-child
{
	display:block;
	float:left;
	margin-left:15px;
	margin-top:5px;
}

.lof-navigator li:nth-child(1) h3 span:first-child
{
		background-position: 0 0;
}
.lof-navigator li.active:nth-child(1) h3 span:first-child
{
		background-position: -28px 0 !important;
}
.lof-navigator li:nth-child(2) h3 span:first-child
{
		background-position: 0 -28px;
}
.lof-navigator li.active:nth-child(2) h3 span:first-child
{
		background-position: -28px -28px !important;
}
.lof-navigator li:nth-child(3) h3 span:first-child, .lof-navigator li:nth-child(4) h3 span:first-child
{
		background-position: 0 -56px;
}
.lof-navigator li.active:nth-child(3) h3 span:first-child, .lof-navigator li.active:nth-child(4) h3 span:first-child
{
		background-position: -28px -56px !important;
}


/*portfolio styles*/
button.filter{
  font-family: 'Roboto', sans-serif;
  display: inline-block;
  padding: .4em .8em;
  background: #f2f2f2;
  color: #004487;
  font-size: 12px;
  font-weight: 500;
  border:1px solid #004487;
  cursor: pointer;
  min-width:80px;
  margin-right:8px;
  margin-bottom:15px;
}

button.active{
  background: #004487;
  color:#fff;
}

button:focus{
  outline: 0 none;
}
.container1 .mix,
.container1 .gap{
  display: inline-block;
  width: 49%;
}

.container1 .mix{
  text-align: left;
  background: #fff;
  margin-bottom: 20px;
  margin-right:20px;
  display: none;
  float:left;
  border:1px solid #cbcbcb;
}
.container1 .mix:after{
  content: attr(data-myorder);
  color: white;
  font-size: 16px;
  display: inline-block;
  vertical-align: top;
  padding: 4% 6%;
  font-weight: 700;
}

.container1 .mix:before{
  content: '';
  display:table;
  padding-top:0;
}

@media all and (min-width: 420px){
  .container1 .mix,
  .container1 .gap{
    width: 32%;
  }
}

@media all and (min-width: 640px){
  .container1 .mix,
  .container1 .gap{
    width: 23.5%;
  }
}



/* Carousel */

#quote-carousel {
    padding: 0 10px 30px 10px;
    margin-top: 75px;
    /* Control buttons  */
    /* Previous button  */
    /* Next button  */
    /* Changes the position of the indicators */
    /* Changes the color of the indicators */
}
#quote-carousel .carousel-control {
    background: none;
    color: #CACACA;
    font-size: 2.3em;
    text-shadow: none;
    margin-top: 30px;
}
#quote-carousel .carousel-control.left {
    left: -60px;
}
#quote-carousel .carousel-control.right {
    right: -60px;
}
#quote-carousel .carousel-indicators {
    right: 50%;
    top: auto;
    bottom: 0px;
    margin-right: -19px;
}
#quote-carousel .carousel-indicators li {
    width: 93px;
    height: 93px;
    margin: 5px 72px;
    cursor: pointer;
    border-radius: 50px;
    opacity: 0.4;
    overflow: hidden;
    transition: all 0.4s;
}
.carousel-indicators li:first-child
{
	margin-left:0 !important;
}
.carousel-indicators li:last-child
{
	margin-right:0 !important;
}
#quote-carousel .carousel-indicators .active {
    background: #333333;
    width: 93px;
    height: 93px;
    border-radius: 100px;
    opacity: 1;
    overflow: hidden;
}
.carousel-inner {
    min-height: 200px;
	background-image: url(../img/quote-left.jpg), url(../img/quote-right.jpg);
	background-position: left top, right top;
	background-repeat: no-repeat;
}
blockquote{ border:none;}
blockquote p
{
	font-size:14px;
	font-style:italic;
	color:#000;
	line-height:20px;
}


/*footer styles*/
#footer
{
	background:#005192;
	color:#fff;
	height:145px;
	margin-top:50px;
	h3
	{
		color:#fff;
		font-weight:600;
		text-align:center;
		padding-top:25px;
	}
	button
	{
		background: transparent none repeat scroll 0 0;
    border: 2px solid #fff;
    color: #fff;
    display: block;
    font-family: zineSlabDis;
    font-size: 22px;
    margin: 20px auto;
    min-width: 215px;
    padding: 4px;
	}
	button:hover{ background:#fff; color:#005192;}
}
footer > p
{
	font-size:12px;
	padding:13px 0 3px;
}

/* carousel */
.media-carousel 
{
  margin-bottom: 0;
  padding: 0 40px 0px 40px;
  margin-top: 10px;
}
/* Previous button  */
.media-carousel .carousel-control.left 
{
  left: -12px;
  background-image: none;
  background: none repeat scroll 0 0 #222222;
  border: 4px solid #FFFFFF;
  border-radius: 23px 23px 23px 23px;
  height: 40px;
  width : 40px;
  margin-top: 30px
}
/* Next button  */
.media-carousel .carousel-control.right 
{
  right: -12px !important;
  background-image: none;
  background: none repeat scroll 0 0 #222222;
  border: 4px solid #FFFFFF;
  border-radius: 23px 23px 23px 23px;
  height: 40px;
  width : 40px;
  margin-top: 30px
}
/* Changes the position of the indicators */
.media-carousel .carousel-indicators 
{
  right: 50%;
  top: auto;
  bottom: 0px;
  margin-right: -19px;
}
/* Changes the colour of the indicators */
.media-carousel .carousel-indicators li 
{
  background: #c0c0c0;
}
.media-carousel .carousel-indicators .active 
{
  background: #333333;
}
.media-carousel img
{
  width: 250px;
  height: 100px
}
/* End carousel */


/*SOLUTINS PAGES STYLES*/
.bannerText1 {
    color: #fff;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    top: 0;
	h1 {
    font-size: 60px;
	margin:13% 0 0;
	vertical-align:middle;
     }
	 
	 .fancy {
  line-height: 0.2;
  text-align: center;
}
.fancy span {
  display: inline-block;
  position: relative;  
}
.fancy span:before,
.fancy span:after {
  content: "";
  position: absolute;
  height: 5px;
  border-bottom: 2px solid white;
  top: 0;
  width: 50px;
}
.fancy span:before {
  right: 100%;
  margin-right: 15px;
}
.fancy span:after {
  left: 100%;
  margin-left: 15px;
}
}
.topContentText
{
	font-weight:300;
	line-height:40px;
	margin-top:40px;
}
hr
{
	margin:35px auto 50px;
    width: 600px;
}
.row-centered {
    text-align:center;
	margin-bottom:45px;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}
.crossBug, .rightBug
{
	border:1px solid #e9654e;
	border-radius:3px;
	img
	{
		padding:40px 21px 40px 20px;
		float:left;
		border-right:1px solid #e9654e;
	}
}
.list-group {
    float: left;
    margin-bottom: 0;
	padding:10px 0;
}
.list-group-item {
    border: medium none;
	font-size:20px;
	color:#e9654e;
	padding:3px 0 3px 15px;
	font-weight:600;
}
.img-responsive
{
	margin:0 auto;
}
.table
{
	border:1px solid #ccc;
	margin-bottom:50px;
}
.table > thead > tr > th, .table > thead > tr > td, .table > tbody > tr > th, .table > tbody > tr > td, .table > tfoot > tr > th, .table > tfoot > tr > td
{
	border-top:none;
    font-size: 16px;
    padding: 16px 25px;
}
.table-striped > tbody > tr:nth-of-type(2n) {
    background-color: #f2f2f2;
}
.table-striped > tbody > tr:nth-of-type(2n+1) {
    background-color: #fff;
}
.businessModel
{
	p
{
	color:#055595;
	font-weight:300;
	font-size:20px;
}
h2
{
	color:#055595;
}
ul li{ list-style:none; display:inline-block; padding:4px 0;}
ul li span
{
	display:block;
	float:left;
	font-size:16px;
	font-weight:300;
	line-height:24px;
}
ul li span:first-child
{
	width:16px;
	height:16px;
	background:url(../img/checked.png) no-repeat; margin-right:12px;
	background-position:center;
	margin-top:4px;
}
ul li span:last-child
{
	width:245px;
}
}


/*ABOUT US PAGE STYLES*/
.box > .icon { text-align: center; position: relative; }
.box > .icon > .image { position: relative; z-index: 2; margin: auto; width: 88px; height: 88px; border: 8px solid white; line-height: 88px; border-radius: 50%; background: #ea6953; vertical-align: middle; }
.box > .icon:hover > .image { background: #333; }
.box > .icon > .image > i { font-size: 36px !important; color: #fff !important; }
.box > .icon:hover > .image > i { color: white !important; }
.box > .icon > .info { margin-top: -24px; background: rgba(0, 0, 0, 0.04); border: 1px solid #e0e0e0; height:145px; padding: 15px 0 10px 0; }
.box > .icon:hover > .info { background: rgba(0, 0, 0, 0.04); border-color: #e0e0e0; color: white; }
.box > .icon > .info > h3.title { font-family: "Roboto",sans-serif !important; font-size: 16px; color: #222; font-weight: 500; }
.box > .icon > .info > p { font-family: "Roboto",sans-serif !important; font-size: 15px; color: #666; line-height: 1.5em; margin: 20px;}
.box > .icon:hover > .info > h3.title, .box > .icon:hover > .info > p, .box > .icon:hover > .info > .more > a { color: #222; }
.box > .icon > .info > .more a { font-family: "Roboto",sans-serif !important; font-size: 12px; color: #222; line-height: 12px; text-transform: uppercase; text-decoration: none; }
.box > .icon:hover > .info > .more > a { color: #fff; padding: 6px 8px; background-color: #63B76C; }
.box .space { height: 30px; }


/*JOBS PAGE STYLES*/
.panel-default > .panel-heading {
    background-color: #eeeeee;
    border-color: #d4d4d4;
    color: #ea6953;
}
.panel-title {
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
}
.jobsList p
{
	line-height:24px;
	font-size:13px;
}
.btn-own {
    background: #ea6953 none repeat scroll 0 0;
    border: medium none;
    font-size: 14px;
    padding: 8px 32px;
	 border:1px solid #ea6953;
}
.btn-own:hover{ background:#fff; border:1px solid #ea6953; color:#ea6953 !important;}

.db-pricing-seven {
    margin-bottom: 30px;
    margin-top: 0;
    text-align: center;
    border-left: 1px solid #C5C2C2;
    border-right: 1px solid #C5C2C2;
    background-color: #EDEDED;
}

    .db-pricing-seven:hover {
        margin-top: 5px;
        -moz-transition: margin-top 0.25s ease 0s;
        -ms-transition: margin-top 0.25s ease 0s;
        transition: margin-top 0.25s ease 0s;
    }

    .db-pricing-seven ul {
        list-style: none;
        margin: 0;
        text-align: center;
        padding-left: 0px;
    }

        .db-pricing-seven ul li {
    border-bottom: 1px solid #d8d8d8;
    cursor: pointer;
    font-size: 16px;
    padding-bottom: 15px;
    padding-top: 15px;
    text-transform: inherit;
}

            .db-pricing-seven ul li.price {
                background-color: #fff;
				border-top: 5px solid #00508e;
				color: #00508e;
				font-size: 20px;
				font-weight: 900;
				padding: 20px;
            }

                .db-pricing-seven ul li.price img {
                    padding: 8px;
                    display: block;
					margin:0 auto;
                }


    .db-pricing-seven .pricing-footer {
        padding: 20px;
    }

        .db-pricing-seven .pricing-footer a i {
            margin: 5px;
            top: 3px;
        }
		
		
/*<!--JOBS POP STYLES-->*/
/*
    Colorbox Core Style:
    The following CSS is consistent between example themes and should not be altered.
*/
#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:9999; overflow:hidden;}
#cboxWrapper {max-width:none;}
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative;}
#cboxLoadedContent{overflow:auto; -webkit-overflow-scrolling: touch;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%; height:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}
.cboxPhoto{float:left; margin:auto; border:0; display:block; max-width:none; -ms-interpolation-mode:bicubic;}
.cboxIframe{width:100%; height:100%; display:block; border:0; padding:0; margin:0;}
#colorbox, #cboxContent, #cboxLoadedContent{box-sizing:content-box; -moz-box-sizing:content-box; -webkit-box-sizing:content-box;}

/* 
    User Style:
    Change the following styles to modify the appearance of Colorbox.  They are
    ordered & tabbed in a way that represents the nesting of the generated HTML.
*/
#cboxOverlay{background:url(../img/overlay.png) repeat 0 0; opacity: 0.9; filter: alpha(opacity = 90);}
#colorbox{outline:0;}
   
    #cboxTopCenter{height:21px; background:url(../../images/border.png) 0 0 repeat-x;}
    #cboxBottomCenter{height:21px; background:url(../../images/border.png) 0 -29px repeat-x;}
    #cboxContent{background:#eb6953; overflow:hidden; border-radius:5px;}
        .cboxIframe{background:#fff;}
        #cboxError{padding:50px; border:1px solid #ccc;}
        #cboxLoadedContent{margin-top:55px;}
        #cboxTitle{position:absolute; top:13px; left:0; font-family: zineSlabDis; font-size:22px; text-align:center; width:100%; color:#fff;}
        #cboxCurrent{position:absolute; top:4px; left:58px; color:#949494; display:none !important;}
        #cboxLoadingOverlay{background:url(../img/loading_background.png) no-repeat center center;}
        #cboxLoadingGraphic{background:url(../img/loading.gif) no-repeat center center;}

        /* these elements are buttons, and may need to have additional styles reset to avoid unwanted base styles */
        #cboxPrevious, #cboxNext, #cboxSlideshow, #cboxClose {border:0; padding:0; margin:0; overflow:visible; width:auto; background:none; }
        
        /* avoid outlines on :active (mouseclick), but preserve outlines on :focus (tabbed navigating) */
        #cboxPrevious:active, #cboxNext:active, #cboxSlideshow:active, #cboxClose:active {outline:0;}

        #cboxSlideshow{position:absolute; bottom:4px; right:30px; color:#0092ef;}
        #cboxPrevious{position:absolute; top:10px; left:10px; background:url(../img/controls.png) no-repeat 0 0; width:35px; height:35px; text-indent:-9999px;}
        #cboxPrevious:hover{background-position:-35px 0;}
        #cboxNext{position:absolute; top:10px; left:50px; background:url(../img/controls.png) no-repeat 0 -35px; width:35px; height:35px; text-indent:-9999px;}
        #cboxNext:hover{background-position:-35px -35px;}
        #cboxClose{position:absolute; top:10px; right:10px; background:url(../img/controls.png) no-repeat 0 -70px; width:35px; height:35px; text-indent:-9999px;}
        #cboxClose:hover{background-position:-35px -70px;}

/*
  The following fixes a problem where IE7 and IE8 replace a PNG's alpha transparency with a black fill
  when an alpha filter (opacity change) is set on the element or ancestor element.  This style is not applied to or needed in IE9.
  See: http://jacklmoore.com/notes/ie-transparency-problems/
*/
.cboxIE #cboxTopLeft,
.cboxIE #cboxTopCenter,
.cboxIE #cboxTopRight,
.cboxIE #cboxBottomLeft,
.cboxIE #cboxBottomCenter,
.cboxIE #cboxBottomRight,
.cboxIE #cboxMiddleLeft,
.cboxIE #cboxMiddleRight {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF);
}

a:hover{ text-decoration:none;}


/*CONTACT US PAGES STYLES
*/
legend
{
	padding:0;
	border:none;
}
.form-control
{
	height:44px;
}
label{ margin-bottom:8px; font-weight:400;}
.form-group{ margin-bottom:20px;}
.getDirection
{
	right: 10px;
    top: 6px;
}
#footer h1{ font-size:30px;}
.forResponsive, .mobileSocailLink{ display:none !important;}
.mobileSocailLink{ margin-right:10px; float:right;}
.mobileSocailLink li{ float:left; padding:23px 0;}



/*<!--RESPONSIVE STYLES-->*/
@media screen and (min-width: 991px) and (max-width: 1200px) {
.bannerText h1, .bannerText1 h1 {
    margin-top: 13%;
}

}
@media screen and (min-width: 768px) and (max-width: 990px) {
.bannerText h1, .bannerText1 h1 {
    margin-top: 10%;
	font-size: 46px;
}
.bannerText p {
    font-size: 15px;
    line-height: 26px;
}
/*solutions slider*/
.lof-slidecontent{ width:100%;}

/*testimonial styles*/
#quote-carousel .carousel-indicators li
{
	margin:5px 10px;
}
.box > .icon > .info{ height:175px;}
.rightBug
{
	margin-left:4px;
}
.businessModel ul li span:last-child {
    width: 198px;
}
.businessModel ul li span{ font-size:14px;}
.businessModel p {
    font-size: 15px;
    font-weight: 400;
}
.btn-own
{
	margin-top:10px;
}
.forResponsive{ display:block;}
.forResponsive hr {
    margin: 35px auto 0;
}
.bannerText1 h3{ display:none;}
.container{ overflow:hidden;}
}
@media screen and (min-width: 681px) and (max-width: 767px) {
	
/*banner styles*/
.bannerText h1, .bannerText1 h1 {
    margin-top: 9%;
	font-size: 46px;
}
.bannerText p {
    font-size: 15px;
    line-height: 26px;
}
/*menus styles*/
.activeMenu, .nav > li > a:hover
{
	background-image:url(../img/arrow-left.png);
	background-position:left center;
}
.mobileSocailLink{ display:block !important;}
.navbar-nav {
    margin: 0 -10px;
}
.nav > li:first-child
{
	border-top: 1px solid #ccc;
}
.nav > li {
    border-bottom: 1px solid #ccc;
}
#tw, #fb{ display:none;}
/*solutions slider*/
.lof-slidecontent{ width:100%;}

/*testimonial styles*/
#quote-carousel .carousel-indicators li
{
	margin:5px 10px;
}
.ressponveDiv
{
    margin-bottom: 3%;
}
.rightBug
{
	margin:0;
}
.businessModel ul li span:first-child
{
	display:none;
}
.businessModel ul li span:last-child {
    width: 100%;
	display:block;
}

.businessModel p, .businessModel ul li{ text-align:center; display:block; overflow:hidden;}
.col-md-4.col-sm-4.col-xs-12 ul li:last-child {
    padding-bottom: 20px;
}
.btn-own
{
	margin-top:10px;
}
.forResponsive{ display:block;}
.forResponsive hr {
    margin: 35px auto 0;
}
.bannerText1 h3{ display:none;}
.responsiveWidth
{
	width:100% !important;
	margin-bottom:30px;
}
.media-carousel .carousel-control.left, .media-carousel .carousel-control.right
{
	margin-top:230px;
}
.portfolioResponsive{ padding:0 5%;}
.container{ overflow:hidden;}
#footer h3 {
    font-size: 20px;
}
}
@media screen and (min-width: 581px) and (max-width: 680px) {
	/*banner styles*/
.bannerText h1, .bannerText1 h1 {
    margin-top: 11%;
	font-size: 30px;
}
.bannerText p {
    font-size: 14px;
    line-height: 24px;
}

/*menus styles*/
.activeMenu, .nav > li > a:hover
{
	background-image:url(../img/arrow-left.png);
	background-position:left center;
}
.navbar-nav {
    margin: 0 -10px;
}
.nav > li:first-child
{
	border-top: 1px solid #ccc;
}
.nav > li {
    border-bottom: 1px solid #ccc;
}
#tw, #fb{ display:none;}


/*solutions slider*/
.lof-slidecontent{ width:100%;}

/*testimonial styles*/
#quote-carousel .carousel-indicators li
{
	margin:5px 10px;
	width:50px;
	height:50px;
}
.ressponveDiv
{
    margin-bottom: 3%;
}
.rightBug
{
	margin:0;
}


.businessModel ul li span:first-child
{
	display:none;
}
.businessModel ul li span:last-child {
    width: 100%;
	display:block;
}

.businessModel p, .businessModel ul li{ text-align:center; display:block; overflow:hidden;}
.col-md-4.col-sm-4.col-xs-12 ul li:last-child {
    padding-bottom: 20px;

}
.btn-own
{
	margin-top:10px;
}
.forResponsive{ display:block;}
.forResponsive hr {
    margin: 35px auto 0;
}
.bannerText1 h3{ display:none;}
.responsiveWidth
{
	width:100% !important;
	margin-bottom:30px;
}
.mobileSocailLink{ display:block !important;}


/*slider styles*/
.lof-main-wapper{ display:none;}
.lof-navigator-outer{ width:100%;}
.lof-navigator li div{ margin-left:0;}
.media-carousel .carousel-control.left, .media-carousel .carousel-control.right
{
	margin-top:230px;
}
.portfolioResponsive{ padding:0 5%;}
.container{ overflow:hidden;}
#footer h3 {
    font-size: 20px;
}
}
@media screen and (min-width: 481px) and (max-width: 580px) {
	/*banner styles*/
.bannerText h1, .bannerText1 h1 {
    margin-top: 8%;
	font-size: 24px;
}
.bannerText p {
    font-size: 12px;
    line-height: 20px;
}


/*menus styles*/
.activeMenu, .nav > li > a:hover
{
	background-image:url(../img/arrow-left.png);
	background-position:left center;
}
.navbar-nav {
    margin: 0 -10px;
}
.nav > li:first-child
{
	border-top: 1px solid #ccc;
}
.nav > li {
    border-bottom: 1px solid #ccc;
}
#tw, #fb{ display:none;}


/*solutions slider*/
.lof-slidecontent{ width:100%;}

/*testimonial styles*/
#quote-carousel .carousel-indicators li
{
	margin:5px 10px;
	width:50px;
	height:50px;
}
#quote-carousel .carousel-indicators .active
{
	margin:5px 10px;
	width:60px;
	height:60px;
}
blockquote p{ font-size:13px;}
.ressponveDiv
{
    margin-bottom: 3%;
}
.rightBug
{
	margin:0;
}

.businessModel ul li span:first-child
{
	display:none;
}
.businessModel ul li span:last-child {
    width: 100%;
	display:block;
}

.businessModel p, .businessModel ul li{ text-align:center; display:block; overflow:hidden;}
.col-md-4.col-sm-4.col-xs-12 ul li:last-child {
    padding-bottom: 20px;
}
.btn-own
{
	margin-top:10px;
}
.forResponsive{ display:block;}
.forResponsive hr {
    margin: 35px auto 0;
}
.bannerText1 h3{ display:none;}
.responsiveWidth
{
	width:100% !important;
	margin-bottom:30px;
}
.mobileSocailLink{ display:block !important;}

/*slider styles*/
.lof-main-wapper{ display:none;}
.lof-navigator-outer{ width:100%;}
.lof-navigator li div{ margin-left:0;}
.media-carousel .carousel-control.left, .media-carousel .carousel-control.right
{
	margin-top:230px;
}
.portfolioResponsive{ padding:0 5%;}
.container{ overflow:hidden;}
#footer h3 {
    font-size: 20px;
}

}
@media screen and (min-width: 381px) and (max-width: 480px) {
	/*banner styles*/
.bannerText h1, .bannerText1 h1 {
    margin-top: 8%;
	font-size: 24px;
}
.bannerText p {
    font-size: 12px;
    line-height: 20px;
}


/*menus styles*/
.activeMenu, .nav > li > a:hover
{
	background-image:url(../img/arrow-left.png);
	background-position:left center;
}
.navbar-nav {
    margin: 0 -10px;
}
.nav > li:first-child
{
	border-top: 1px solid #ccc;
}
.nav > li {
    border-bottom: 1px solid #ccc;
}
#tw, #fb{ display:none;}

/*solutions slider*/
.lof-slidecontent{ width:100%;}

/*testimonial styles*/
#quote-carousel .carousel-indicators li
{
	margin:5px 10px;
	width:50px;
	height:50px;
}
#quote-carousel .carousel-indicators .active
{
	margin:5px 10px;
	width:60px;
	height:60px;
}
blockquote p{ font-size:13px;}
.ressponveDiv
{
    margin-bottom: 3%;
}
.rightBug
{
	margin:0;
}

.businessModel ul li span:first-child
{
	display:none;
}
.businessModel ul li span:last-child {
    width: 100%;
	display:block;
}

.businessModel p, .businessModel ul li{ text-align:center; display:block; overflow:hidden;}
.col-md-4.col-sm-4.col-xs-12 ul li:last-child {
    padding-bottom: 20px;
}
.btn-own
{
	margin-top:10px;
}
.forResponsive{ display:block;}
.forResponsive hr {
    margin: 35px auto 0;
}
.bannerText1 h3{ display:none;}
.responsiveWidth
{
	width:100% !important;
	margin-bottom:30px;
}
.mobileSocailLink{ display:block !important;}

/*slider styles*/
.lof-main-wapper{ display:none;}
.lof-navigator-outer{ width:100%;}
.lof-navigator li div{ margin-left:0;}
.media-carousel .carousel-control.left, .media-carousel .carousel-control.right
{
	margin-top:230px;
}
.portfolioResponsive{ padding:0 7%;}
.container{ overflow:hidden;}
#footer h3 {
    font-size: 20px;
}
}
@media screen and (min-width: 381px) and (max-width: 480px) {
	/*banner styles*/
.bannerText h1, .bannerText1 h1 {
    margin-top: 8%;
	font-size: 24px;
}
.bannerText p {
    font-size: 11px;
    line-height: 20px;
}


/*menus styles*/
.activeMenu, .nav > li > a:hover
{
	background-image:url(../img/arrow-left.png);
	background-position:left center;
}
.navbar-nav {
    margin: 0 -10px;
}
.nav > li:first-child
{
	border-top: 1px solid #ccc;
}
.nav > li {
    border-bottom: 1px solid #ccc;
}
#tw, #fb{ display:none;}


/*solutions slider*/
.lof-slidecontent{ width:100%;}

/*testimonial styles*/
#quote-carousel .carousel-indicators li
{
	margin:5px 10px;
	width:50px;
	height:50px;
}
#quote-carousel .carousel-indicators .active
{
	margin:5px 10px;
	width:60px;
	height:60px;
}
blockquote p{ font-size:13px;}
.ressponveDiv
{
    margin-bottom: 3%;
}
.rightBug
{
	margin:0;
}

.businessModel ul li span:first-child
{
	display:none;
}
.businessModel ul li span:last-child {
    width: 100%;
	display:block;
}

.businessModel p, .businessModel ul li{ text-align:center; display:block; overflow:hidden;}
.col-md-4.col-sm-4.col-xs-12 ul li:last-child {
    padding-bottom: 20px;
}
.btn-own
{
	margin-top:10px;
}
.forResponsive{ display:block;}
.forResponsive hr {
    margin: 35px auto 0;
}
.bannerText1 h3{ display:none;}
.responsiveWidth
{
	width:100% !important;
	margin-bottom:30px;
}
.mobileSocailLink{ display:block !important;}

/*slider styles*/
.lof-main-wapper{ display:none;}
.lof-navigator-outer{ width:100%;}
.lof-navigator li div{ margin-left:0;}
.media-carousel .carousel-control.left, .media-carousel .carousel-control.right
{
	margin-top:230px;
}
.portfolioResponsive{ padding:0 5%;}
.container{ overflow:hidden;}
#footer h3 {
    font-size: 20px;
}
}
@media screen and (min-width: 301px) and (max-width: 380px) {
	/*banner styles*/
.bannerText h1, .bannerText1 h1 {
    margin-top: 7%;
	font-size: 22px;
}
.bannerText p {
    font-size: 10px;
    line-height: 16px;
}
.lof-navigator li h3{ font-size:15px;}


/*menus styles*/
.activeMenu, .nav > li > a:hover
{
	background-image:url(../img/arrow-left.png);
	background-position:left center;
}
.navbar-nav {
    margin: 0 -10px;
}
.nav > li:first-child
{
	border-top: 1px solid #ccc;
}
.nav > li {
    border-bottom: 1px solid #ccc;
}
#tw, #fb{ display:none;}


/*solutions slider*/
.lof-slidecontent{ width:100%;}

/*testimonial styles*/
#quote-carousel .carousel-indicators li
{
	margin:5px 10px;
	width:50px;
	height:50px;
}
#quote-carousel .carousel-indicators .active
{
	margin:5px 10px;
	width:60px;
	height:60px;
}
blockquote p{ font-size:13px;}
.carousel-indicators {
    left: 45%;
    width: 74%;
}
.carousel-testimonial{ height:220px;}
.ressponveDiv
{
    margin-bottom: 3%;
}
.rightBug
{
	margin:0;
}

.businessModel ul li span:first-child
{
	display:none;
}
.businessModel ul li span:last-child {
    width: 100%;
	display:block;
}

.businessModel p, .businessModel ul li{ text-align:center; display:block; overflow:hidden;}
.col-md-4.col-sm-4.col-xs-12 ul li:last-child {
    padding-bottom: 20px;
}
.btn-own
{
	margin-top:10px;
}
.forResponsive{ display:block;}
.forResponsive hr {
    margin: 35px auto 0;
}
.bannerText1 h3{ display:none;}
.responsiveWidth
{
	width:100% !important;
	margin-bottom:30px;
}
.mobileSocailLink{ display:block !important;}

/*slider styles*/
.lof-main-wapper{ display:none;}
.lof-navigator-outer{ width:100%;}
.lof-navigator li div{ margin-left:0;}
.media-carousel .carousel-control.left, .media-carousel .carousel-control.right
{
	margin-top:230px;
}
.portfolioResponsive{ padding:0 7%;}
.container{ overflow:hidden;}
#footer h3 {
    font-size: 16px;
	line-height:24px;
}
}

@media screen and (max-width: 300px) {
	/*banner styles*/
.bannerText h1, .bannerText1 h1 {
    margin-top: 7%;
	font-size: 22px;
}
.bannerText p {
    font-size: 10px;
    line-height: 16px;
}
.lof-navigator li h3{ font-size:15px;}


/*menus styles*/
.activeMenu, .nav > li > a:hover
{
	background-image:url(../img/arrow-left.png);
	background-position:left center;
}
.navbar-nav {
    margin: 0 -10px;
}
.nav > li:first-child
{
	border-top: 1px solid #ccc;
}
.nav > li {
    border-bottom: 1px solid #ccc;
}
#tw, #fb{ display:none;}


/*solutions slider*/
.lof-slidecontent{ width:100%;}

/*testimonial styles*/
#quote-carousel .carousel-indicators li
{
	margin:5px 10px;
	width:50px;
	height:50px;
}
#quote-carousel .carousel-indicators .active
{
	margin:5px 10px;
	width:60px;
	height:60px;
}
blockquote p{ font-size:13px;}
.carousel-indicators {
    left: 45%;
    width: 74%;
}
.carousel-testimonial{ height:290px;}
.ressponveDiv
{
    margin-bottom: 3%;
}
.rightBug
{
	margin:0;
}

.businessModel ul li span:first-child
{
	display:none;
}
.businessModel ul li span:last-child {
    width: 100%;
	display:block;
}

.businessModel p, .businessModel ul li{ text-align:center; display:block; overflow:hidden;}
.col-md-4.col-sm-4.col-xs-12 ul li:last-child {
    padding-bottom: 20px;
}
.btn-own
{
	margin-top:10px;
}
.forResponsive{ display:block;}
.forResponsive hr {
    margin: 35px auto 0;
}
.bannerText1 h3{ display:none;}
.responsiveWidth
{
	width:100% !important;
	margin-bottom:30px;
}
.mobileSocailLink{ display:block !important;}

/*slider styles*/
.lof-main-wapper{ display:none;}
.lof-navigator-outer{ width:100%;}
.lof-navigator li div{ margin-left:0;}
.media-carousel .carousel-control.left, .media-carousel .carousel-control.right
{
	margin-top:230px;
}
.portfolioResponsive{ padding:0 7%;}
.container{ overflow:hidden;}
#footer h3 {
    font-size: 16px;
}
}
